{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
	<h1> This is the login page </h1>
	{# 	{{ text }}
{#	{# In file auth.py where the return line gor the login template is, the last section of line
{#	text="Test"....... Whatever is inside the text variable gets displayed. A.k.a values passed to templates. multipl.
{#	values can be passed#}
	{#
{#	{{ user }}
{#	{# if you write eg. {{ user + "s" }} <-- the letter s will be added to the string of the user variable

	{# 	{% if boolean == True %}
	Yes, it's true
	{% else %}
	No, it's false
	{% endif %} #}


{% endblock %}
